<a href="https://colab.research.google.com/github/ikaushikpal/test0001/blob/main/my_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

In [ ]:
try:
    import turicreate as tc
except ModuleNotFoundError:
    !pip install turicreate
finally:
    print('Import Successful')

Import Successful

In [ ]:
sf = tc.SFrame('https://d396qusza40orc.cloudfront.net/phoenixassets/course1-for-students/people-example.csv')

Downloading https://d396qusza40orc.cloudfront.net/phoenixassets/course1-for-students/people-example.csv to /var/tmp/turicreate-root/60/30508e86-46c6-4e24-a242-f4ce9f87e73e.csv

Finished parsing file https://d396qusza40orc.cloudfront.net/phoenixassets/course1-for-students/people-example.csv

Parsing completed. Parsed 7 lines in 0.033268 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file https://d396qusza40orc.cloudfront.net/phoenixassets/course1-for-students/people-example.csv

Parsing completed. Parsed 7 lines in 0.014578 secs.

In [ ]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]